<!DOCTYPE html>
<html lang="en">
<head>

    <title>Cout Final </title>
</head>


<body>
<form >

    
    <main class ="all">
        <div class="titre">
     <h1>Cout Final </h1>
     
 </div>
    <h2 style="color:rgb(161, 160, 160)">le prix final estimé est :</h2> <br>
     <div class="mb-3">
         <label for="exampleFormControlInput1" class="form-label">Votre Email :</label><br><br>
         <input type="text" class="form-control" id="" placeholder="your@email.here" name=""><br><br>
       </div>
       <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Votre Nom :</label> <br><br>
        <input type="text" class="form-control" id="" placeholder="Votre Nom" name=""><br><br>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Votre Prenom :</label> <br><br>
        <input type="text" class="form-control" id="" placeholder="Votre Prenom" name=""><br><br>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Votre Telephone :</label> <br><br>
        <input type="text" class="form-control" id="" placeholder="Votre Telephone" name=""><br><br>
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label" >Voulez vous laisser un message ? :</label> <br><br>
        <input type="text" class="form-control" id="" placeholder="" name="" style="height: 70px;"><br><br><br>   
      </div>
      <div class="mb-3">
         
        <label for="exampleFormControlInput1" class="form-label"></label>
        <input type="text" class="form-control" id="" placeholder="Discount Coupon Code " name="" style="width:468px">
        <input type="button" value="ok" style="background: linear-gradient(rgb(88, 210, 247), rgb(248, 242, 244));; text-decoration:none ; font-size: 15px;border-radius: 5px; color: #94979c;padding:  5px 10px  5px 10px;" class="ok" > <br><br></div>
        <a href="suivant" style="background: linear-gradient(rgb(88, 210, 247), rgb(248, 242, 244)); text-decoration:none ; font-size: 25px;border-radius: 5px; color: #94979c;padding:  5px 10px  5px 10px;"> Commander </a> <br> <br>
        <a href="precedent" style="background: linear-gradient(rgb(88, 210, 247), rgb(248, 242, 244)); text-decoration:none ; font-size: 25px;border-radius: 5px; color: #94979c;padding:  5px 10px  5px 10px;"> page precedente </a>
     
      
     
     </main>
 </form>
</body>



</html>
 